@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a{
    text-decoration: none;
}

img{
    object-fit: cover;
}

button{
    cursor: pointer;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    padding: 12px;
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #e8e8e8;
    border-radius: 16px;
}

nav .logo{
    display: flex;
    align-items: center;
    gap: 5px;
}

nav .logo img{
    width: 30px;
    height: 30px;
}

nav .logo a{
    color: black;
    font-weight: 600;
}

nav .nav-links{
    display: flex;
    gap: 24px;
}

nav .nav-links a{
    font-size: 14px;
    color: #606060;
    transition: all 0.3s ease;
}

nav .nav-links a:hover{
    color: black;
}

nav button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-size: 14px;
    width: 122px;
    height: 32px;
    color: white;
    background: black;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: all 0.3s ease;
}

nav button i{
    font-size: 20px;
}

nav button:hover{
    color: black;
    background: white;
    border-color: #dedede;
}
.hero{
    margin-top: 80px;
    height: calc(100vh - 80px);
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.hero > img{
    max-width: 520px;
    width: 44%;
    border-radius: 26px;
}

.hero .left-section{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.hero .left-section .top h2{
    font-size: 44px;
    margin-bottom: 24px;
}

.hero .left-section .top .p{
    color: #606060;
    font-size: 18px;
    margin-bottom: 24px;
    text-align: justify;
}

.hero .left-section .top .butttons{
    display: flex;
    gap: 8px;
}

.hero .left-section .top .butttons
button{
    font-size: 16px;
    border: none;
    padding: 5px 20px;
    background: white;
    border: 1px solid #dedede;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 500;
    transition: all 0.3 ease;
}
.hero .left-section .top .butttons
button i{
    font-size: 26px;
}  

.hero .left-section .top .butttons
button.doc{
    background: black;
    color: white;
}

.hero .left-section .top .butttons
button.git{
    background: white;
    color: black;
    border-color: transparent;
}

.hero .left-section .bottom p{
    font-size: 14px;
    color: #606060;
    margin-bottom: 10px;
}


.hero .left-section .bottom .icons{
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    cursor: pointer;
    width: fit-content;
}