@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter",sans-serif;
}

a{
    text-decoration: none;
}

img{
    object-fit: cover;
}

button{
    cursor: pointer;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    gap: 32px;
    padding: 12px;
    border: 1px solid #e8e8e8;
    border-radius: 16px;
}

nav .logo{
    display: flex;
    align-items: center;
    gap: 5px;
}
nav .logo img{
    width: 30px;
    height: 30px;
}
nav .logo a{
    font-weight: 600;
    color: black;
}
nav .nav-links{
    display: flex;
    gap: 24px;
}

nav .nav-links a{
    color: #606060;
    font-size: 14px;
}

nav .nav-links a:hover{
    color: black;
}

nav button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 122px;
    height: 32px;
    border: 1px solid transparent;
    border-radius: 8px;
    color: white;
    background-color: black;
}

nav button:hover{
    color: black;
    background-color: white;
}